// Fonts

$font-Laila: 'Laila', sans-serif;
$font-Inria: 'Inria Serif', serif;
$font-Inria-sans: 'Inria Sans', sans-serif;

// Cores
$font-color: #FEE7B9;
$background-color: #22201F;
$header-background: #7C634B;